<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGGbCZD16JDGX1DQxpJ2uF8a4eWQWUE7o</string>
	<key>GCM_SENDER_ID</key>
	<string>410427123296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.websiteApp</string>
	<key>PROJECT_ID</key>
	<string>web-app-admin-33b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>web-app-admin-33b9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410427123296:ios:1b3f1621ef06a6eb384505</string>
</dict>
</plist>